doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title phasmo
    link(rel='icon', href='./icon.png', type='image/png')
    meta(name='theme-color', content='#000000')
    link(rel='manifest', href='./manifest.webmanifest')
    link(href='./main.css', rel='stylesheet')
  
  - 
    var _clues = [
                  {id: 'emf', emoji: '🚥', title: 'EMF'},
                  {id: 'spirit', emoji: '📻', title: 'Spirit Box'},
                  {id: 'empreintes', emoji: '🐾', title: 'Empreintes'},
                  {id: 'orbe', emoji: '📹', title: 'Orbe'},
                  {id: 'ecritures', emoji: '📖', title: 'Ecritures'},
                  {id: 'glagla', emoji: '❄', title: 'Températures Glaciales'}
                 ]
    var _ghosts = [
                    {name: 'Esprit', clues: ['spirit', 'empreintes', 'ecritures']},
                    {name: 'Spectre', clues: ['spirit', 'empreintes', 'glagla']},
                    {name: 'Fantome', clues: ['emf', 'glagla', 'orbe']},
                    {name: 'Poltergeist', clues: ['spirit', 'empreintes', 'orbe']},
                    {name: 'Banshee', clues: ['empreintes', 'emf', 'glagla']},
                    {name: 'Djinn', clues: ['spirit', 'emf', 'orbe']},
                    {name: 'Cauchemar', clues: ['spirit', 'glagla', 'orbe']},
                    {name: 'Revenant', clues: ['empreintes', 'ecritures', 'emf']},
                    {name: 'Ombre', clues: ['ecritures', 'emf', 'orbe']},
                    {name: 'Demon', clues: ['spirit', 'ecritures', 'glagla']},
                    {name: 'Yurei', clues: ['ecritures', 'glagla', 'orbe']},
                    {name: 'Oni', clues: ['spirit', 'ecritures', 'emf']}
                  ]

  mixin clues(items)
    each item in items
      th
        div
          input(id=item.id, name=item.id, type="checkbox")
          label(for=item.id, title=item.title)= item.emoji
  
  mixin ghost(items)
    each item in items
      tr(class=item.clues.join(' '))
        td= item.name
        each cl in _clues
          if item.clues.indexOf(cl.id) != -1
            td ✔
          else
            td

  body
    .flex.justify-center
      table.table-fixed.border-collapse
        thead
          tr
            th Type
            +clues(_clues)
        tbody
          +ghost(_ghosts)
    script(src="main.js")
    